body{
    background-color: #b5b8ff;
}
#BG{
    position: fixed;
    
    bottom: 0;
    right: 0;
    width: auto;
    height: 80%;
    z-index: -1;
    opacity: 0.3;
}
#divIcon{
    margin: 100px 0px 20px 0px;
}

#Icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;    
    width: 25%;
}

#divButton{
    text-align: center;
}

.button{
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: 16px;
    border-radius: 8px;
    
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -5px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 10px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

#login,#register{
    background-color: white;
}


