body{
    background-color: #b5b8ff;
}
#BG{
    position: fixed;
    
    bottom: 0;
    right: 0;
    width: auto;
    height: 80%;
    z-index: -1;
    opacity: 0.3;
}

#Icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    position: relative;
    
    width: 20%;
}

a{
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#login:link, #login:visited{


}

#login:hover{

}
#login:active{

}

#regis{

}